My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "01367834-d84a-4f42-8ac1-256fc50d7a55",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/bebity~linkedin-jobs-scraper/runs?token=apify_api_2JbBvaB7DSvX7N0dBj6sbQJ4U9Zxkf0e62Lk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"contractType\": \"F\",\n    \"experienceLevel\": \"1\",\n    \"location\": \"India\",\n    \"proxy\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"RESIDENTIAL\"\n        ]\n    },\n    \"publishedAt\": \"r604800\",\n    \"title\": \"Web Developer\",\n    \"workType\": \"1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7173d1a8-0ddc-4d95-8247-1f7c58e593cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/bebity~linkedin-jobs-scraper/runs/last/dataset/items?token=apify_api_2JbBvaB7DSvX7N0dBj6sbQJ4U9Zxkf0e62Lk",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        0
      ],
      "id": "05d9a825-90b8-4683-878a-712d09ab574c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "cf125754-f38d-4445-936e-ed11f8908a07",
      "name": "Wait",
      "webhookId": "b0cf738a-a280-43c9-8086-d59681e17909"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xoXpDWVq27qiryLAOzvp3WcTxVRiH5lFq61eHwY86sI",
          "mode": "list",
          "cachedResultName": "Linkedin N8n Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xoXpDWVq27qiryLAOzvp3WcTxVRiH5lFq61eHwY86sI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Linkedin Job Finder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xoXpDWVq27qiryLAOzvp3WcTxVRiH5lFq61eHwY86sI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "title": "={{ $json.title }}",
            "jobUrl": "={{ $json.jobUrl }}",
            "companyUrl": "={{ $json.companyUrl }}",
            "location": "={{ $json.location }}",
            "description": "={{ $json.description }}",
            "applyUrl": "={{ $json.applyUrl }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobUrl",
              "displayName": "jobUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applyUrl",
              "displayName": "applyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        0
      ],
      "id": "3c374660-df75-4d6d-98e5-b0a8a3195133",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lfGkJP5CavvApx7K",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e656cc44-3779-4242-adb9-f5389b1ac625",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "469e53f36d545856b201a521bb300ca54fb274f9ced27cd112f2a7d4be45d632"
  },
  "id": "yMdf1H4wvXISApy6",
  "tags": []
}